// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$primary: #0A1F38;
$secondary: #F4DF7D;
$hover: #8BBF85;
$error: #ef8354;
$success: #134611;

$info:    #186B7B;
$warning: #FF9573;
$danger:  #FF3D00;


$background: #dfdcfa;
// Others

$grid-columns: 24;
