// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$primary: #0a1f38;
$secondary: #f4df7d;
$hover: #8bbf85;
$error: #ef8354;
$success: #134611;

$info: #186b7b;
$warning: #ff9573;
$danger: #ff3d00;

$background: #dfdcfa;
// Others

$grid-columns: 24;
