// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// FontAwesome
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";

// Variable
@import "variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "auth";
@import "pagination";
@import "slick";

@import "templates";

@import "layouts/header";
@import "layouts/logo";
@import "layouts/search";
@import "layouts/notification";
@import "layouts/footer";

@import "menus/user-menu";
@import "menus/navigation-menu";

@import "auth/auth";
@import "auth/change";
@import "auth/confirm";
@import "auth/layouts/register";
@import "auth/layouts/login";
@import "auth/layouts/reset";
@import "auth/layouts/social";
@import "auth/layouts/forgot";

@import "home/home";
@import "home/banner";
@import "home/blog";
@import "home/gallery";
@import "home/news";
@import "home/portfolio";

@import "blog/index";
@import "blog/show";
@import "blog/menu";
@import "blog/gallery";
@import "blog/news";
@import "blog/blog";

@import "gallery/gallery";
@import "gallery/show";
@import "gallery/menu";
@import "gallery/create";

@import "search/search";
@import "search/menu";
@import "search/result";

@import "profile/profile";
@import "profile/edit";
@import "profile/admin/menu";

body {
    background-color: $background;
    padding-right: 0 !important;
}
// тупенько против скролл-паддинга при фэйде
footer {
    padding-right: 0 !important;
}

.container {
    position: relative;
    max-width: 1400px;
    margin-bottom: 150px;
}
