.auth-group{
    margin-top: 100px;
 .card{
     background-color: $primary;
     color: $secondary;
     .card-body{
         form{
             .btn{
                 @extend %template-btn;
             }
         }
     }
 }
}
