/* Слайдер */
.slick-slider {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    border: none;
    z-index: 10;
    height: 100%;
    width: 50px;
    max-width: 50px;
    top: 0;
    background-color: $primary;
}
.slick-prev {
    border-radius: 0.25rem 0;
    left: 0;
}
.slick-next {
    border-radius: 0 0.25rem;
    right: 0;
}
.slick-prev::before,
.slick-next::before {
    font: var(--fa-font-solid);
    color: $secondary;
    font-size: 50px;
}
.slick-prev::before {
    content: "\f104";
}
.slick-next::before {
    content: "\f105";
}

//
///* Слайд */
//.slick-slide{}
///* Слайд активный (показывается) */
//.slick-slide.slick-active{}
///* Слайд основной */
//.slick-slide.slick-current{}
///* Слайд по центру */
//.slick-slide.slick-center{}
///* Клонированный слайд */
//.slick-slide.slick-cloned{}
///* Стрелка */
//.slick-arrow{}
///* Стрелка влево */
//.slick-arrow.slick-prev{}
///* Стрелка вправо */
//.slick-arrow.slick-next{}
///* Стрелка не активная */
//.slick-arrow.slick-disabled{}
//
///* Точки (булиты) */
//.slick-dots{}
//.slick-dots li{}
///* Активная точка */
//.slick-dots li.slick-active{}
///* Элемент точки */
//.slick-dots li button{}
//
///* Слайдер запущен */
//.slick-slider.slick-initialized{}
///* Слайдер с точками */
//.slick-slider.slick-dotted{}
