.gallery {
    border: 0.15em solid $secondary;
    margin: 0.5em;
    padding: 0.5em;
    height: 100%;
    border-radius: 0.25em;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .gallery-item {
        color: $secondary;
        a {
            text-decoration: none;
            color: $secondary;
            &:hover {
                color: $hover;
            }
            .title {
                margin-top: 0.5em;
            }
            .excerpt {
                margin-top: 0.15em;
            }
        }

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            .views {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 0.75em;
                .icon {
                    margin-right: 0.25em;
                }
            }
            .comments {
                align-items: center;
                color: $secondary;
                a {
                    &:hover {
                        color: $hover;
                    }
                    color: $secondary;
                    .icon {
                        margin-right: 0.25em;
                    }
                }
            }
        }
    }
}
