.gallery-create {
    .modal-content {
        background-color: $secondary;
        .modal-header {
            border-bottom: none;
            padding: 0.5rem;
            .close {
                color: $primary;
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                text-shadow: none;
                opacity: 1;
                &:hover {
                    color: $hover;
                }
            }
        }
        .modal-body {
            background-color: $primary;
            .edit-gallery-item {
                padding: 0.5rem;
                .form-file {
                    margin-top: 0.5rem;
                    input {
                        background-color: $secondary;
                        border-radius: 0.25em;
                        width: auto;
                    }
                }
                .form-group {
                    margin-top: 0.5rem;
                    label {
                        color: $secondary;
                    }
                    input {
                        background-color: $secondary;
                    }
                    textarea {
                        background-color: $secondary;
                    }
                }
                .down {
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: space-around;
                    .dropdown-menu {
                        background-color: $primary;
                        color: $secondary;
                    }
                    .btn {
                        @extend %template-btn;
                    }
                }
            }
        }
    }
}
