.btn-gallery-menu-collapse {
    .gallery-menu-down,
    .gallery-menu-up {
        padding: 0.5rem;
        border-radius: 0.25rem;
        color: $secondary;
        border-color: $secondary;
        background-color: $primary;
        &:hover {
            background-color: $hover;
        }
    }
}
.btn-gallery-menu-collapse[aria-expanded="true"] .gallery-menu-down {
    display: none;
}
.btn-gallery-menu-collapse[aria-expanded="false"] .gallery-menu-up {
    display: none;
}
.menu-gallery {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    .search-result {
        position: absolute;
        display: flex;
        flex-direction: column;

        .search-result-item {
            z-index: 10;
            background-color: $secondary;
            text-decoration: none;
            &:hover {
                background-color: $hover;
                cursor: pointer;
            }
        }
    }

    .search-section {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        .search-query {
            color: $primary;
            background-color: $secondary;
            border: 1px solid $primary;
            border-radius: 0.25rem;
        }
    }
    .filter {
        margin-top: 0.5rem;
        border-radius: 0.25rem;
        background-color: $primary;
        color: $secondary;
        .filter-form {
            margin: 0.5rem;
            justify-content: space-between;
            align-items: center;
            .form-select {
                margin-left: 0.5rem;
                color: $primary;
                background-color: $secondary;
            }
            .btn {
                @extend %template-btn;
            }
        }
    }
    .gallery-user-menu {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: $primary;
        color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        .user {
            .btn {
                @extend %template-btn;
            }
        }
        .guest {
            p {
                margin: 0;
            }
            a {
                text-decoration: none;
                color: $secondary;
                font-style: oblique;
                &:hover {
                    color: $hover;
                }
            }
        }
    }
}
