.search-result{
    position: absolute;
    display: flex;
    flex-direction: column;

    .search-result-item{
        z-index: 10;
        background-color: $secondary;
        text-decoration: none;
        &:hover {
            background-color: $hover;
            cursor: pointer;
        }
    }
}

.search-section{
    display: flex;
    align-items: center;
    .search-query {
        color: $primary;
        background-color: $secondary;
        border: 1px solid $primary;
        border-radius: 0.25em;
    }
}
.filter{
    border-radius: 0.25em;
    background-color: $primary;
    color: $secondary;
    .form-inline{
        margin: 0.5em;
        justify-content: space-between;
        align-items: center;
        .selector-group{
            select{
                margin-right: 1em;
                background-color: $secondary;
            }
        }
        .btn{
            @extend %template-btn;
        }
    }
}
.gallery-user-menu{
    margin-left: 0.5em;
    padding: 0.5em;
    width: 100%;
    border-radius: 0.25em;
    background-color: $primary;
    color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    .user{
        .btn{
            @extend %template-btn;
        }
    }
    .guest {
        p{
            margin: 0;
        }
        a {
            text-decoration: none;
            color: $secondary;
            font-style: oblique;
            &:hover {
                color: $hover;
            }
        }
    }
}
