.banner-home {
    border-radius: 0.25em;
    height: 100%;
    overflow: hidden;
    .banner-home-item {
        img {
            height: 100%;
            width: auto;
            max-width: 100%;
        }
    }
}
