.show-portfolio-home{
    border-radius: 0.25em;
    margin: 0.5em;
    border: 0.15em solid $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    .group-portfolio{
        display: flex;
        justify-content: space-around;
        margin: 0.5em 0.25em 0.25em 0.25em;
        .portfolio-item{
            max-width: 225px;
            width: 100%;
            a{
                text-decoration: none;
                img{
                    width: 100%;
                }
                .customer{
                    color: $secondary;
                    &:hover{
                        color: $hover;
                    }
                }
            }
        }
    }
    a{
        margin-right: 0.5em;
        align-self: flex-end;
        text-decoration: none;
        color: $secondary;
        &:hover{
            color: $hover;
        }
    }
}
