.user-menu {
    position: relative;
    align-self: center;
    background-color: $primary;
    .btn {
        @extend %template-btn;
    }
    .menu-profile {
        width: auto;
        top: 110%;
        left: -98%;
        form {
            text-align: center;
        }
    }
    .menu-auth {
        width: 300px;
        top: 110%;
        left: -108%;
    }
    .dropdown-menu {
        border: thin $secondary solid;
        background-color: $primary;
        color: $secondary;
        .switch-user-menu {
            .dropdown-item {
                @extend %template-item;
            }
        }
        .form-control {
            background-color: $secondary;
        }
        .dropdown-divider {
            border-top: 1px solid $secondary;
        }
        #forms {
            #signup {
                display: none;
            }

            #request-pass {
                display: none;
            }
        }
        #switch-menu-auth {
            .dropdown-item {
                @extend %template-item;
            }
            #tosignin {
                display: none;
                &:hover {
                    display: block;
                }
            }
        }
        #social {
            margin: 0.1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            .dropdown-item {
                @extend %template-item;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .user-menu {
        .menu-profile {
            top: 110%;
            left: -58%;
        }

        .menu-auth {
            top: 110%;
            left: -158%;
        }
    }
}

@include media-breakpoint-up(md) {
    .user-menu {
        .menu-profile {
            top: 110%;
            left: -98%;
        }

        .menu-auth {
            top: 110%;
            left: -218%;
        }
    }
}
