#confirm-password-form-modal {
    background-color: $primary;
    color: $secondary;
    border-radius: 0.5em;
    .form-control {
        background-color: $secondary;
    }
    .btn {
        @extend %template-btn;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}
#confirm-password-form {
    background-color: $primary;
    color: $secondary;
    border-radius: 0.5em;
    .form-control {
        background-color: $secondary;
    }
    .btn {
        @extend %template-btn;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}
.confirm-modal {
    .modal-content {
        .card {
            background-color: $primary;
            color: $secondary;
        }
    }
}
