.shell {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register {
    background-color: $primary;
    color: $secondary;
    border-radius: 0.5em;
    .form-control {
        background-color: $secondary;
    }
    .btn {
        @extend %template-btn;
    }
    .dropdown-divider {
        border-top: 1px solid $secondary;
    }
}
