.input-group {
    align-items: stretch;
    margin: 0.75rem;
    flex-wrap: nowrap;
    justify-content: right;
    width: auto;
    .search-query {
        padding: 0.375rem 0.75rem;
        width: auto;
        height: auto;
        font-size: 1rem;
        line-height: 1.5;
        color: $primary;
        background-color: $secondary;
        border: 1px solid $secondary;
        background-clip: padding-box;
        border-radius: 0.25rem;
    }
    .btn {
        border-radius: 0.25rem;
        margin: 0;
        @extend %template-btn;
    }
}
