.search-menu {
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;

    .search-form {
        width: auto;
        border-radius: 0.25rem;
        background-color: $primary;
        justify-content: center;
        align-items: center;
        .filter-group,
        .search-group {
            margin: 0.5rem;
            .form-select {
                margin: 0.5rem;
                background-color: $secondary;
            }
            .form-select:disabled {
                opacity: 0.5;
            }
            .search-select-section {
                background-color: $secondary;
            }
            .search-input {
                width: auto;
                margin: 0.5rem;
                background-color: $secondary;
            }
            button {
                @extend %template-btn;
            }
        }
    }
}
