.search-result-page {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    .search-gallery-result {
        background-color: $primary;
        border-radius: 0.25em;
        position: relative;
        padding: 0 50px;
        margin-bottom: 1em;
        .active-slider {
            border: 0.15em solid $secondary;
            border-radius: 0.25em;
        }
        .gallery-card {
            margin: 0.25em;
            border-radius: 0.25em;
            background-color: $secondary;
            color: $primary;
            max-width: 250px;
            .card-img-overlay {
                opacity: 0;
                background-color: $secondary;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .card-text {
                    color: $primary;
                    text-align: center;
                }
                .icon {
                    color: $primary;
                }
                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }
    .search-blog-result {
        background-color: $primary;
        border-radius: 0.25em;
        position: relative;
        padding: 0 50px;
        margin-bottom: 1em;
        .blog-item {
            margin: 0.25em;
            border-radius: 0.25em;
            background-color: $primary;
            color: $secondary;
            max-width: 350px;
            a {
                text-decoration: none;
                color: $secondary;
                &:hover {
                    color: $hover;
                }
                .title {
                    margin-top: 0.5em;
                }
                .excerpt {
                    margin-top: 0.15em;
                }
            }

            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                .views {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 0.75em;
                    .icon {
                        margin-right: 0.25em;
                    }
                }
                .comments {
                    align-items: center;
                    color: $secondary;
                    margin-right: 0.75em;
                    a {
                        &:hover {
                            color: $hover;
                        }
                        color: $secondary;
                        .icon {
                            margin-right: 0.25em;
                        }
                    }
                }
                .user {
                    align-items: center;
                    color: $secondary;
                    a {
                        &:hover {
                            color: $hover;
                        }
                        color: $secondary;
                        .icon {
                            margin-right: 0.25em;
                        }
                    }
                }
            }
        }
    }
    .search-news-result {
        background-color: $primary;
        border-radius: 0.25em;
        position: relative;
        padding: 0 50px;
        margin-bottom: 1em;
        .news-item {
            margin: 0.25em;
            border-radius: 0.25em;
            background-color: $primary;
            color: $secondary;
            max-width: 350px;
            a {
                text-decoration: none;
                color: $secondary;
                &:hover {
                    color: $hover;
                }
                .title {
                    margin-top: 0.5em;
                }
                .excerpt {
                    margin-top: 0.15em;
                }
            }

            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                .views {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 0.75em;
                    .icon {
                        margin-right: 0.25em;
                    }
                }
                .comments {
                    align-items: center;
                    color: $secondary;
                    margin-right: 0.75em;
                    a {
                        &:hover {
                            color: $hover;
                        }
                        color: $secondary;
                        .icon {
                            margin-right: 0.25em;
                        }
                    }
                }
                .user {
                    align-items: center;
                    color: $secondary;
                    a {
                        &:hover {
                            color: $hover;
                        }
                        color: $secondary;
                        .icon {
                            margin-right: 0.25em;
                        }
                    }
                }
            }
        }
    }
}
